<footer>

  <div class="container">
      <!-- <h2>We <i class="fa fa-heart"></i> new friends!</h2> -->
      <ul class="list-inline list-social">
          <li class="social-twitter">
              <a href="https://www.facebook.com/scientificspacesystems/" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="social-facebook">
              <a href="https://twitter.com/scispacesystems" target="_blank"><i class="fa fa-facebook-square"></i></a>
          </li>
          <li class="social-google-plus">
              <a href="https://www.instagram.com/scientificspacesystems" target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="social-google-plus">
              <a href="http://linkedin.com/company/scientific-space-systems" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          </li>
          <li class="social-google-plus">
              <a href="https://www.youtube.com/channel/UCRRmy_qr_dKjbTHWFRJXf-g" target="_blank"><i class="fa fa-youtube-play"></i></a>
          </li>
      </ul>
  </div>
  <br>
  <div class="container">
      <p>&copy; 2017 <span class="neon">Scientific Space Systems, LLC</span>. All Rights Reserved.</p>
      <br>
      <ul class="list-inline">
          <li>
              <a href="#">API</a>
          </li>
          <li>
              <a href="/#download">Contact</a>
          </li>
          <li>
              <a href="#">Team</a>
          </li>
          <li>
              <a href="#">Blog</a>
          </li>
          <li>
              <a href="#">FAQ</a>
          </li>
      </ul>
  </div>
</footer>


<!-- Footer -->
<!-- <div class="container footer-container">
  <br>
  <div class="row footer-row">
  <div class="col-md-3 footer-col"></div>
  <div class="col-md-2 footer-col">
    <ul class="footer-list">
      <li class="foot-a"><a class="foot-a" href="/blog.html">Blog</a></li>
      <li class="foot-a"><a class="foot-a" href="/news.html">News</a></li>
      <li class="foot-a"><a class="foot-a" href="/press.html">Press</a></li>
      <li class="foot-a"><a class="foot-a" href="/about.html">About Us</a></li>
      <li class="foot-a"><a class="foot-a" href="/team.html">Team</a></li>
    </ul>
  </div>
  <div class="col-md-2 footer-col">
    <ul class="footer-list">
      <li class="foot-a"><a class="foot-a" href="/engineering.html">Engineering</a></li>
      <li class="foot-a"><a class="foot-a" href="/api.html">API</a></li>
      <li class="foot-a"><a class="foot-a" href="/alpha.html">Alpha Testing</a></li>
      <li class="foot-a"><a class="foot-a" href="/beta.html">Beta Testing</a></li>
    </ul>
  </div>
  <div class="col-md-2 footer-col">
    <ul class="footer-list">
      <li class="foot-a"><a class="foot-a" href="/bugreport.html">Report a Bug</a></li>
      <li class="foot-a"><a class="foot-a" href="/signup.html">Sign Up</a></li>
      <li class="foot-a"><a class="foot-a" href="/contact.html">Contact Us</a></li>
      <li class="foot-a"><a class="foot-a" href="/store.html">Store</a></li>
      <li class="foot-a"><a class="foot-a" href="/services.html">Services</a></li>
    </ul>
  </div>
  <div class="col-md-3 footer-col"></div>
  </div>
  <center>
    <a class="foot-i" href="https://www.facebook.com/scientificspacesystems/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
    <a class="foot-i" href="https://twitter.com/scispacesystems" target="_blank"><i class="fa fa-twitter-square  fa-2x" aria-hidden="true"></i></a>
    <a class="foot-i" href="http://linkedin.com/company/scientific-space-systems" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
    <a class="foot-i" href="https://www.instagram.com/scientificspacesystems" target="_blank"><i class="fa fa-instagram       fa-2x" aria-hidden="true"></i></a>
    <a class="foot-i" href="https://www.youtube.com/channel/UCRRmy_qr_dKjbTHWFRJXf-g" target="_blank"><i class="fa fa-youtube-play    fa-2x" aria-hidden="true"></i></a>
  </center>
  <center>
    <br>
  <div class="neon">Copyright &copy; 2017, Scientific Space Systems, LLC</div>
  </center>
  <br>
</div> -->
