<head>
  <title>Sci Space Sys</title>
  <meta charset="utf-8" />
  <!-- TODO : ADD TONS OF META INFORMATION FOR FACEBOOK, TWITTER, AND OTHER THINGS-->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="../assets/css/bootstrap.css" />
  <!-- <link rel="stylesheet" href="../assets/css/main.css" /> -->
  <link rel="stylesheet" href="../assets/css/heroic-features.css" />
  <link rel="stylesheet" href="../assets/css/full-slider.css" />
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />2
  <link rel="stylesheet" href="../assets/css/custom.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
