<head>
  <title>Sci Space Sys</title>


  <meta charset="utf-8" />

  <!-- TODO : ADD TONS OF META INFORMATION FOR FACEBOOK, TWITTER, AND OTHER THINGS-->
  <meta property="og:image" content="{{ base }}/assets/css/images/Promo_500.png"/>
  <meta property="og:image" content="{{ base }}/assets/css/images/Promo1.png"/>
  <meta property="og:image" content="{{ base }}/assets/css/images/Promo2.png"/>
  <meta property="og:image" content="{{ base }}/assets/css/images/Promo3.png"/>
  <meta property="og:image" content="{{ base }}/assets/css/images/Promo4.png"/>
  <meta property="og:title" content="Scientific Space Systems - Easy to Use, High Tech, Digital Telescopes"/>
  <meta property="og:site_name" content="Scientific Space Systems"/>
  <meta property="og:url" content="http://www.ScientificSpaceSystems.com/" />
  <meta property="og:description" content="The SpaceyScope is an easy to use, hight tech, digital telescope that you can control from your phone. It's the coolest way to explore the night sky." />

  <meta name="twitter:card" value="summary"/>
  <meta property="twitter:image" content="{{ base }}/assets/css/images/Promo_500.png"/>
  <meta name="twitter:site" content="@scispacesystems">
  <meta name="twitter:title" content="Scientific Space Systems - Easy to Use, High Tech, Digital Telescopes">

  <meta itemprop="name" content="Scientific Space Systems - Easy to Use, High Tech, Digital Telescopes">
  <meta itemprop="description" content="The SpaceyScope is an easy to use, hight tech, digital telescope that you can control from your phone. It's the coolest way to explore the night sky.">
  <meta itemprop="image" content="{{ base }}/assets/css/images/Promo_500.png">

  <meta name="discription" content="The SpaceyScope is an easy to use, hight tech, digital telescope that you can control from your phone. It's the coolest way to explore the night sky."/>
  <meta name="keywords" content="telescope,astronomy,space,science,astrophotography,nature,app,digital telescope,space pictures,pictures of space"/>

  <meta name="viewport" content="width=device-width, initial-scale=1" />


  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="{{ base }}/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="{{ base }}/assets/css/heroic-features.css" />
  <link rel="stylesheet" href="{{ base }}/assets/css/full-slider.css" />
  <link rel="stylesheet" href="{{ base }}/assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ base }}/assets/css/custom.css" />
  <!-- <link rel="stylesheet" href="{{ base }}/assets/css/vapor.css" /> -->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
