<head>


      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Astrovisual</title>

      <!-- Bootstrap Core CSS -->
      <link href="{{ base }}/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

      <!-- Plugin CSS -->
      <link rel="stylesheet" href="{{ base }}/assets/css/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ base }}/assets/css/simple-line-icons/css/simple-line-icons.css">
      <link rel="stylesheet" href="{{ base }}/assets/css/device-mockups/device-mockups.min.css">

      <!-- Theme CSS -->
      <link href="{{ base }}/assets/css/new-age.css" rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->



  <!-- <title>Sci Space Sys</title> -->


  <meta charset="utf-8" />

  <!-- TODO : ADD TONS OF META INFORMATION FOR FACEBOOK, TWITTER, AND OTHER THINGS-->
  <meta property="og:image" content="{{ base }}/assets/css/images/Promo_500.png"/>
  <meta property="og:image" content="{{ base }}/assets/css/images/mvp1.png"/>
  <meta property="og:image" content="{{ base }}/assets/css/images/mvp2.png"/>
  <meta property="og:image" content="{{ base }}/assets/css/images/mvp3.png"/>
  <meta property="og:image" content="{{ base }}/assets/css/images/Promo1.png"/>
  <meta property="og:image" content="{{ base }}/assets/css/images/Promo2.png"/>
  <meta property="og:image" content="{{ base }}/assets/css/images/Promo3.png"/>
  <meta property="og:image" content="{{ base }}/assets/css/images/Promo4.png"/>
  <meta property="og:title" content="Astrovisual - Easy to Use, High Tech, Digital Telescopes"/>
  <meta property="og:site_name" content="Astrovisual"/>
  <meta property="og:url" content="http://www.ScientificSpaceSystems.com/" />
  <meta property="og:description" content="The Lyra Telescope is an easy to use, high tech, digital telescope that you can control from your phone. It's avalible to order at scientfificspacesystems.com. It's the coolest way to explore the night sky." />

  <meta name="twitter:card" value="summary"/>
  <meta property="twitter:image" content="{{ base }}/assets/css/images/Promo_500.png"/>
  <meta property="twitter:image" content="{{ base }}/assets/css/images/mvp1.png"/>
  <meta property="twitter:image" content="{{ base }}/assets/css/images/mvp2.png"/>
  <meta property="twitter:image" content="{{ base }}/assets/css/images/mvp3.png"/>
  <meta name="twitter:site" content="@scispacesystems">
  <meta name="twitter:title" content="Astrovisual - Easy to Use, High Tech, Digital Telescopes">

  <meta itemprop="name" content="Astrovisual - Easy to Use, High Tech, Digital Telescopes">
  <meta itemprop="description" content="The Lyra Telescope is an easy to use, high tech, digital telescope that you can control from your phone. It's the coolest way to explore the night sky.">
  <meta itemprop="image" content="{{ base }}/assets/css/images/Promo_500.png">

  <meta name="discription" content="The Lyra Telescope is an easy to use, high tech, digital telescope that you can control from your phone. It's avalible to order at scientfificspacesystems.com. It's the coolest way to explore the night sky."/>
  <meta name="keywords" content="telescope,astronomy,space,science,astrophotography,nature,app,digital telescope,space pictures,pictures of space"/>

  <meta name="viewport" content="width=device-width, initial-scale=1" />


  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <!-- <link rel="stylesheet" href="{{ base }}/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="{{ base }}/assets/css/heroic-features.css" />
  <link rel="stylesheet" href="{{ base }}/assets/css/full-slider.css" />
  <link rel="stylesheet" href="{{ base }}/assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ base }}/assets/css/custom.css" /> -->
  <!-- <link rel="stylesheet" href="{{ base }}/assets/css/vapor.css" /> -->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->


  <!-- Hotjar Tracking Code for scientificspacesystems.com -->
  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:564283,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>
