<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="scanline-1"></div>
  <div class="scanline-1"></div>
  <div class="scanline-2"></div>
  <div class="scanline-3"></div>
  <div class="scanline-4"></div>
  <div class="scanline-4"></div>
  <div class="scanline-5"></div>
  <div class="scanline-6"></div>
  <div class="scanline-7"></div>
  <div class="scanline-8"></div>
  <div class="scanline-9"></div>
  <div class="scanline-10"></div>
  <div class="container nav-container">
    <ul class="navbar-left c-nav">
      <li class="nav-a"><a class="nav-a" href="/">Home</a></li>
    </ul>
    <ul class="navbar-right c-nav">
      <!-- <li class="nav-a"><a class="nav-a" href="/about.html">About</a></li> -->
      <!-- <li class="nav-a"><a class="nav-a" href="/store.html">Telescopes</a></li> -->
      <li class="nav-a"><a class="nav-a" href="/alpha.html">Become an Alpha Tester</a></li>
    </ul>
  </div>
</nav>
