<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container nav-container">
    <ul class="navbar-left c-nav">
      <li class="nav-a"><a class="nav-a" href="/">Home</a></li>
    </ul>
    <ul class="navbar-right c-nav">
      <!-- <li class="nav-a"><a class="nav-a" href="/about.html">About</a></li> -->
      <li class="nav-a"><a class="nav-a" href="/store.html">Telescopes</a></li>
      <li class="nav-a"><a class="nav-a" href="/contact.html">Contact Us</a></li>
    </ul>
  </div>
</nav>
