<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#page-top"><b>Astrovisual</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/#design">Design</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#download">Contact Us</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#features">Features</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#contact">Sign Up</a>
                </li>
                <li>
                    <a class="page-scroll" href="/alpha">Store</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- <nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="scanline-temp"></div>
  <div class="scanline-1"></div>
  <div class="scanline-1"></div>
  <div class="scanline-2"></div>
  <div class="scanline-3"></div>
  <div class="scanline-4"></div>
  <div class="scanline-4"></div>
  <div class="scanline-5"></div>
  <div class="scanline-6"></div>
  <div class="scanline-7"></div>
  <div class="scanline-8"></div>
  <div class="scanline-9"></div>
  <div class="scanline-10"></div>
  <div class="container nav-container">
    <ul class="navbar-left c-nav">
      <li class="nav-a"><a class="nav-a" href="/">Home</a></li>
    </ul>
    <ul class="navbar-right c-nav">
      <!-- <li class="nav-a"><a class="nav-a" href="/about.html">About</a></li> -->
      <!--<li class="nav-a"><a class="nav-a" href="/team">Team</a></li>
      <li class="nav-a"><a class="nav-a" href="/contact">Contact</a></li>
      <li class="nav-a"><a class="nav-a" href="/store">Store</a></li>
      <li class="nav-a"><a class="nav-a" href="/alpha">Telescope Alpha</a></li>
    </ul>
  </div> -->
<!-- </nav> -->
