<html>

{% include base.html %}
{% include header.html %}
{% include nav.html %}

<body style="overflow: scroll;">


<div class="container">
<!-- Page Features -->
  <div class="row text-center">

    <div class="col-md-12 hero-feature">
      <div class="thumbnail">
	<div class="caption">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">
	    <h2 class="shop-title">About Us</h2>
	    <p>Scientific Space Systems is a startup space company dedicated to bringing space closer to the public. Scientific Space Systems was formed in 2017 with the goal of building high-tech and easy to use telescopes for popular astronomical purposes. Scientific Space Systems's Telescopes (Formerly Spacey Telescopes) have already won several awards and have been featured on <a href="http://www.hypepotamus.com/people/caleb-adams/" target="_blank">Atlanta Tech Spotlights</a>, <a href="http://uga.edu/about_uga/profile/looking-to-space/" target="_blank"> The University of Georgia </a>, <a href="https://soundcloud.com/onsecondthought/full-show-january-4-2016#t=18:06" target="_blank">NPR Radio Broadcast</a>, <a href="https://www.youtube.com/watch?v=QMqSRc3Ei2I" target="_blank">TEDx Talk</a>, <a href="news.mlh.io/winners-mlh-spring-2015-north-america-season-hackathons-08-16-2015" target="_blank">Major League Hacking</a>, and more.</p>
	  </div>
	  <div class="col-md-2"></div>
	  <br><br><br><br><br><br><br>
	</div>
      </div>
    </div>

      <div class="col-md-12 hero-feature">
          <div class="thumbnail">
              <img src="../assets/css/images/2015.jpg" alt="">
              <div class="caption">
                  <h2 class="shop-title">2015</h2>
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		  <p>The first remote telescope, seen in the image above, was prototyped in 2015 by the founder of Scientific Space Systems, Caleb Adams and a small team. The initial prototype was built as an independent project at a Hackathon. Caleb and the team went on to win 1st place for their design at the Virginia Tech Hackathon. This model cost less than 100$ and was able to track jupiter, image nebulae, and stream a video of the moon. Caleb would later assemble a team to begin the design of a better remote operated telescope. Below is our 2015 review video for Scientific Space Systems (formerly Spacey).</p>
		  </div>
		  <div class="col-md-2"></div>
		  <br><br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
                  <p>
                      <!--<a href="/contact" class="btn btn-primary">Request More Information</a>-->
                  </p>
              </div>
	      <br><br>
	      <iframe width="100%" height="500" src="https://www.youtube.com/embed/51v_-C1oDbc" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>

      <div class="col-md-12 hero-feature">
          <div class="thumbnail">
              <img src="../assets/css/images/2016.png" alt="">
              <div class="caption">
                <h2 class="shop-title">2016</h2>
		<div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		    <p>In 2016 the group began to gather a bit of funding, which led to the development of a second prototype, seen above. This prototype was featured on multiple websites, including the University of Georgia’s home page. The group built various features around the prototype, including a website that could control it, stream videos from it, and could be used to share observations. A demo video of the 2016 “pitched” prototype can be seen below.
		    </p>
		  </div>
		  <div class="col-md-2">
		  </div>
		</div>
		<br><br>
		<iframe width="100%" height="500" src="https://www.youtube.com/embed/PCnxyRjQyDk" frameborder="0" allowfullscreen></iframe>
		<br><br>
		<div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
		    <p>As it grew, and began considering the development of Small Satellites. When Caleb returned from an internship at NASA’s Johnson Space Center, where he worked on audio telemetry for the Orion Spacecraft, things began to kick into high gear. This eventually spun off into the UGA Small Satellite Research Laboratory, which is currently building satellites for NASA and the AFRL. Three of the founders of Scientific Space Systems are the founders of the UGA Small Satellite Research Laboratory.
		    </p>
		  </div>
		  <div class="col-md-2">
		  </div>
		</div>
		<p></p>
                <br>
                <p>
                  <!--<a href="/contact" class="btn btn-primary">Request More Information</a>-->
                </p>
              </div>
          </div>
      </div>

      <div class="col-md-12 hero-feature">
	<div class="thumbnail">
	  <div class="caption">
	    <h2 class="shop-title">2017</h2>
	    <p>Scientific Space Systems is planning to kickstarter that will launch in August. If you want to become more involved, feel free to contact us below!</p>
	    <br>
	    <p>
	      <a href="/signup" class="btn btn-primary">Become a Beta Tester</a>
	      <a href="/contact" class="btn btn-primary">Request More info</a>
	    </p>
	  </div>
	</div>
      </div>

  </div>
  <!-- /.row -->
</div>

{% include footer_dark.html %}

</body>

</html>
