<!DOCTYPE html>
<html lang="en">

{% include header.html %}
{% include nav2.html %}

<body id="page-top">

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>The Lyra Telescope</h1>
                            <p>For only $350 you will get the Lyra Telescope within 10 weeks of ordering, you will also get our next generation telescope <b>for free</b>! We will work with you weekly to udpate you on our progress and make sure that we are giving you the coolest telescope. ever.</p>
                            <br><br>
                            <div class="row">
                              <div class="col-sm-6">
                                <center>
                                <a href="#contact" class="btn btn-outline btn-xl page-scroll">Get Updates</a><br><br>
                                <a href="#download" class="btn btn-outline btn-xl page-scroll">Request Info</a><br><br>

                                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="FZ66KWFGX56P2">
                                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                  </form>
                                </center>
                              </div>
                              <div class="col-sm-6">
                                <img class="img-responsive" width="100%" src="{{BASE}}/assets/css/images/mvp5.png"></img>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="{{ base }}/assets/css/images/Mock-Up.006.png" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <!-- <h2>Space is yours to Explore</h2> -->
                        <h2>2 iterations of smart telescopes, for $350</h2>
                        <p class="text-muted">The Lyra Telescope makes it easy to Explore Space</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait black">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="{{ base }}/assets/css/images/Mock-Up.002.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Smartphone Controlled</h3>
                                    <p class="text-muted">You can operate the Lyra Telescope from the compfort of the palm of your hand.</p>
                                    <center><img class="img-rounded img-responsive" max-height="40px" src="{{BASE}}/assets/css/images/app4.png"></img></center>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Image and Stream</h3>
                                    <p class="text-muted">You can image what you see, and even what you can't! The Lyra telescope uses machine vision, our algorithms allow you to enhance what you want to see. You can even stream videos of the night sky! This video shows some of the capabilities we have developed with our previous prototypes:</p>
                                    <iframe width="100%" height="200px" src="https://www.youtube.com/embed/PCnxyRjQyDk" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-star text-primary"></i>
                                    <h3>Telescope Design</h3>
                                    <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                                    <img class="img-rounded img-responsive" width="100%" src="{{BASE}}/assets/css/images/mvp4.png"></img>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Open Source</h3>
                                    <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
          <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait gold">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="{{ base }}/assets/css/images/Mock-Up.006.png" class="img-responsive" alt=""> </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature-item">
                            <i class="icon-star text-primary"></i>
                            <h3>Telescope Design</h3>
                            <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                            <img class="img-rounded img-responsive" width="100%" src="{{BASE}}/assets/css/images/mvp5.png"></img><br>
                            <p class="text-muted">With a sleek design, the Lyra telescope is ready to observe in less than a minute after setup.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-item">
                            <i class="icon-rocket text-primary"></i>
                            <h3>Launching Soon</h3>
                            <p class="text-muted">We're getting ready to launch our product, and we're looking for alpha testers to join us. If you want an Alpha, we will work with you to insure that we are deising the coolest, easiest, high-tech telescope out there. You can <a href="/#download">send us a message</a> to know more, or go ahead and <a href="/alpha">join our alpha program</a>, we're always willing to talk to our customers and those who are interested.</p>
                            <br>
                            <center>
                              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="FZ66KWFGX56P2">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                              </form>
                            </center>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </section>

    <section id="contact" class="contact bg-primary">
      <div class="container">
        <div class="header-content">
          <h1>The Lyra Telescope</h1>
          <p>For only $350 you will get the Lyra Telescope within 10 weeks of ordering, you will also get our next generation telescope <b>for free</b>!</p>
        </div>
        <br>
        <center>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="FZ66KWFGX56P2">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </center>
      </div>
    </section>

    <!-- <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2 width="50%">Explore.<br>Easily.<br>Comfortably.</h2>
                <center>
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="FZ66KWFGX56P2">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                  </form>
                </center>
            </div>
        </div>
        <div class="overlay"></div>
    </section> -->

    {% include footer.html %}

    <!-- jQuery -->
    <script src="{{ base }}/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ base }}/assets/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{ base }}/assets/js/new-age.min.js"></script>

</body>

</html>
