<html>

{% include base.html %}
{% include header.html %}
{% include nav.html %}

<body>
  <!-- <br><br><br>
  <div class="container main-container">

      <div class="row ">
          <div class="col-lg-12">
              <h1>Alpha Testing Program</h1>
              <p style="text-align: center;">Interested in our Alpha Testing program? Check out some information below!<br>
                 Want to stay up to date? The easiest way is to <a href="{{base}}/signup.html">sign up for our mailing list</a>.<br>
               </p>
          </div>
      </div>

  </div> -->

  <div class="container">

      <!-- <hr class="featurette-divider"> -->

      <!-- First Featurette -->

      <br><br>

      <div class="featurette" id="about">
          <img class="featurette-image img-rounded img-responsive pull-right" src="{{base}}/assets/css/images/Promo_500.png">
          <h2 class="featurette-heading">The SpaceyScope
              <span class="text-muted">Is now in Alpha</span>
          </h2>
          <p class="lead">The high tech, easy to use telescope we've been working on is now in a <a href="/store" target="_blank">limited alpha production run</a>, the price starts at $350. It's sleek, simple, and super functional. The revolutionary electromagnetic control system makes it seem like magic when you direct your SpaceyScope with your phone.</p>
          <iframe width="50%" height="315" src="https://www.youtube.com/embed/u2VfYn17d9U" frameborder="0" allowfullscreen></iframe>
          <br><br><br>
          <center>
          <a class="rcorners" href="/store" target="_blank">Buy An Alpha</a>
          </center>
          </p>
          <br>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="services">
          <img class="featurette-image img-rounded img-responsive pull-left" src="{{base}}/assets/css/images/app1.png">
          <h2 class="featurette-heading">Images & Live Streams
              <span class="text-muted"><br>In Your Palm</span>
          </h2>
          <p class="lead">The SpaceyScope App will allow you to take images of any point in the sky. A single tap of the image button takes an image! You also have the ability to perform long exposures and time lapses, as well as a video stream. The SpaceyScope is capable of being controlled over bluetooth and wifi. The devices is 1 x 1 x 1 feet.</p>
          <center><img width="50%" height="315" src="{{base}}/assets/css/images/Promo1.png"></img></center>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="about">
          <img class="featurette-image img-rounded img-responsive pull-right" src="{{base}}/assets/css/images/app2.png">
          <h2 class="featurette-heading">Easy to Share
              <span class="text-muted"><br>Easy to Edit</span>
          </h2>
          <p class="lead">Astrophotography is easier than ever with the SpaceyScope. You can share and edit your images from within the App! Our software will make it easy for you to extract beautiful details hidden in the night sky.</p>
          <center><img width="50%" height="315" src="{{base}}/assets/css/images/Promo5.png"></img></center>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="services">
          <img class="featurette-image img-rounded img-responsive pull-left" src="{{base}}/assets/css/images/app3.png">
          <h2 class="featurette-heading">Your Space Guide
              <span class="text-muted"><br>Explore the Night Sky</span>
          </h2>
          <p class="lead">Our space guide lets you explore the night sky like never before. You have an entire sky map to search through and the ability to image anything you see on your map. Your skymap is automatically adjusted for your local light pollution, so you can know what you will see. In some cases the SpaceyScope will be able to see what you can't!</p>
          <center><img width="50%" height="315" src="{{base}}/assets/css/images/Promo6.png"></img></center>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="about">
          <img class="featurette-image img-rounded img-responsive pull-right" src="{{base}}/assets/css/images/app4.png">
          <h2 class="featurette-heading">Explore Away
              <span class="text-muted"><br>It's Never Been Easier</span>
          </h2>
          <p class="lead">If you see an object you want to explore, with the simple tap of a button your SpaceyScope will navigate to that object. You can also place your phone to the sky and the app will automatically open the star map. From the star map you can select an object to learn more, or have your SpaceyScope navigate to it!</p>
          <center><img width="50%" height="315" src="{{base}}/assets/css/images/Promo7.png"></img></center>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="services">
          <img class="featurette-image img-rounded img-responsive pull-left" src="{{base}}/assets/css/images/mvp500.png">
          <h2 class="featurette-heading">The SpaceyScope
              <span class="text-muted"><br>The Alpha Product</span>
          </h2>
          <p class="lead">This is the Alpha Telescope. It has all the features above, but looks a little bit different. That's because it's a first iteration. Any feedback you give us will immediately be placed into our development cycle and we will let you know as soon as we address it. The Alpha telescope cost $350.</p>
          <center><img width="50%" height="315" src="{{base}}/assets/css/images/mvp2.png"></img></center>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="services">
          <!-- <img class="featurette-image img-rounded img-responsive pull-left" src="{{base}}/assets/css/images/mvp500.png"> -->
          <h2 class="featurette-heading">Feature List
              <span class="text-muted"><br>What It Will Do</span>
          </h2>
          <p class="lead">

            <ul>
              <li>A remote controlled, easy to use, high tech telescope! (duh)</li>
              <li>Customized work to your wants / requirements</li>
              <li>Personal Contact with our engineering team</li>
              <li>Access to the final product without markup. You'll get it for however much it costs us to manufacture.</li>
              <li>In App Automation
                <ul>
                  <li>Schedule targets you want to image</li>
                  <li>Set a queue of targets</li>
                </ul>
              </li>
              <li>Instant Setup
                <ul>
                  <li>Automatic Calibration in less than a minute</li>
                </ul>
              </li>
              <li>In App Target Selection
                <ul>
                  <li>In App Star Map. Select a target to move the telescope to it!</li>
                  <li>Star map automatically adjusts to light pollution levels</li>
                  <li>The App can guide you to where the object is as well, no telescope required.</li>
                </ul>
              </li>
              <li>Observation History
                <ul>
                  <li>The App will keep a history of your observations, so you can go back and revisit what you've seen!</li>
                  <li>The App will store images for you and let you share / edit them!</li>
                </ul>
              </li>
              <li>Minimum Ovservation Ability: We expect at least the following but are desiging for better. You will be able to do the following:
                <ul>
                  <li>Comet Observation</li>
                  <li>The Milky Way</li>
                  <li>The Andromeda Galaxy</li>
                  <li>The Moon</li>
                  <li>Observe the planets
                    <ul>
                      <li>The major moons of Jupiter</li>
                      <li>The major moons of Saturn</li>
                      <li>The rings of saturn</li>
                    </ul>
                  </li>
                  <li>The <a href="https://en.wikipedia.org/wiki/List_of_Messier_objects" target="_blank">Messier Catalog</a></li>
                  <li>And more will be garunteed soon, pending verification...</li>
                </ul>
              </li>
              <li>Star Tracking
                <ul>
                  <li>Capable while Streaming</li>
                  <li>Capable During Long Exposures</li>
                </ul>
              <li>Standard Visible Spectrum Observation
                <ul>
                  <li>You will be able to image and stream everything in the visible spectrum</li>
                </ul>
              </li>
              <li>Live Stream your observations</li>
              <li>Timelapese of up to 30 minutes</li>
              <li>IR (up to at least 900nm) observation</li>
              <li>In App Photoediting
                <ul>
                  <li>Optimized for Astrophotography</li>
                  <li>Edit by wavelegth. You can edit out wavelengths don't want.</li>
                  <li>Basic spectral analysis. You can check out at least 4 spectral bands, potentially more in the future.</li>
                </ul>
              </li>
              <li>Object Discovery and Classification
                <ul>
                  <li>Found something? Submit it to us and we'll see if we can identify it. Will you discover something new?</li>
                  <li>The App will tell you what an object is if you move your phone to that point in the sky, just like you would use any other star map App.</li>
                </ul>
              </li>
              <li>Want a feature? Let us know by <a href="/contact">contacting us</a>!</li>
            </ul>

          </p>

          <!-- <center><img width="50%" height="315" src="{{base}}/assets/css/images/mvp2.png"></img></center> -->
      </div>

      <hr class="featurette-divider">

      <!-- <div class="featurette" id="about">
          <img class="featurette-image img-rounded img-responsive pull-right" src="{{base}}/assets/css/images/2016_500x500.png">
          <h2 class="featurette-heading">The Previous Prototype
              <span class="text-muted">We're Always Improving</span>
          </h2>
          <p class="lead">Our Old Prototype, featured by the Univerisity of Georgia is seen here. We've been updating our designs for a long time now, and are ready to accept alpha testers. Checkout our old demo video below to see just how far we've come!</p>
          <iframe width="50%" height="315" src="https://www.youtube.com/embed/PCnxyRjQyDk" frameborder="0" allowfullscreen></iframe>
      </div>

      <hr class="featurette-divider"> -->

      <!-- Second Featurette -->
      <!-- <div class="featurette" id="services">
          <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
          <h2 class="featurette-heading">The Second Heading
              <span class="text-muted">Is Pretty Cool Too.</span>
          </h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider"> -->

      <!-- Third Featurette -->
      <!-- <div class="featurette" id="contact">
          <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
          <h2 class="featurette-heading">The Third Heading
              <span class="text-muted">Will Seal the Deal.</span>
          </h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider"> -->
  </div>

  <div class="container main-container">
      <div class="row">
          <div class="col-lg-12">
            <h1>The SpaceyScope</h1>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/mvp1.png"></img><br>
                <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/mvp2.png"></img><br>
              </div>
              <div class="col-lg-6">
                <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/mvp3.png"></img><br>
                <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/Promo1.png"></img><br>
              </div>
            </div>
            <p style="text-align: center;">Want to have an alpha version of the product? Click the link below to place an order, no card information is required.
            <br><br><br>
            <a class="rcorners" href="/store" target="_blank">Buy An Alpha</a>
            </p>
            <br><br>
            <p style="text-align: center;">We're only doing a limited production run of these, so if you order one we're going to work directly with you. We want to make you get all the features you want, even if they aren't listed above.</p>
            <br>
              <!-- <p style="text-align: center;">Send us a message and let us know you're interested!</p> -->
          </div>
      </div>
  </div>

  <!-- <div class="container contact-container">
    <div class="row">
      <div class="col-md-2"></div>

      <p style="text-align: center;">Want to have an alpha version of the product? Click the link below to place an order, no card information is required.
      <br>
      <a class="rcorners" href="https://docs.google.com/forms/d/e/1FAIpQLSfGwaAT4ovYzCG-X8tEJbpq81kXaJKyrctBq9dWxGSIB1QyaA/viewform" target="_blank">Order An Alpha</a>
      </p>
      <!-- <div class="col-md-8">
        <div class="form-group">
          <form method="POST" action="http://formspree.io/calebashmoreadams@gmail.com">
            <input class="form-control" name="email" placeholder="Your email" type="email">
            <br>
            <textarea class="form-control" name="message" placeholder="Your message"></textarea>
            <br>
            <button  class="btn btn-default" type="submit">Send</button>
          </form>
        </div>
      </div> -->

      <div class="col-md-2"></div>
    </div>
  </div> -->

  <br>
  <div class="container main-container">

      <div class="row ">
          <div class="col-lg-12">
              <!-- <h1>Alpha Testing Program</h1> -->
              <p style="text-align: center;">Interested in the product, but not looking to alpha test? Stay up to date by <a href="{{base}}/signup.html">signing up for our mailing list</a>.<br>
               </p>
          </div>
      </div>

  </div>

</body>

{% include footer.html %}

</html>
