<html>

  {% include base.html %}
  {% include header.html %}
  {% include nav.html %}

  <body>

    <div class="container main-container">

        <div class="row">
            <div class="col-lg-12">
              <h1 class="page-top">Scientific Space Systems Blog</h1>
              <ul>
                {% for post in site.posts %}
                  <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <p class="post-excerpt"> {{ post.excerpt }}</p>
                  </li>
                {% endfor %}
              </ul>
        </div>
      </div>
    </div>

  </body>

  {% include footer.html %}

</html>
