<html>

{% include base.html %}
{% include header.html %}
{% include nav.html %}

<body>
  <br><br><br>
  <div class="container main-container">

      <div class="row">
          <div class="col-lg-12">
              <h1>Bug Report</h1>
              <p style="text-align: center;">Found a bug? shoot us an email below.<br>
                 Interested in updates? <a href="{{base}}/signup.html">Sign up for our mailing list</a><br>
                 Interested in alpha testing a product? <a href="{{base}}/alpha.html">Check out our alpha testing program</a></p>
          </div>
      </div>

  </div>

  <div class="container contact-container">
    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        <div class="form-group">
          <form method="POST" action="http://formspree.io/calebashmoreadams@gmail.com">
            <input class="form-control" name="email" placeholder="Your email" type="email">
            <br>
            <textarea class="form-control" name="message" placeholder="Your message"></textarea>
            <br>
            <button  class="btn btn-default" type="submit">Send</button>
          </form>
        </div>
      </div>

      <div class="col-md-2"></div>
    </div>
  </div>

</body>

{% include footer.html %}

</html>
