<html>

{% include header.html %}
{% include nav.html %}

<body>
<br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        <div class="form-group">
          <form method="POST" action="http://formspree.io/calebashmoreadams@gmail.com">
            <input class="form-control" name="email" placeholder="Your email" type="email">
            <br>
            <textarea class="form-control" name="message" placeholder="Your message"></textarea>
            <br>
            <button  class="btn btn-default" type="submit">Send</button>
          </form>
        </div>
      </div>

      <div class="col-md-2"></div>
    </div>
  </div>

</body>

{% include footer_dark.html %}

</html>
