<html>

{% include header.html %}
{% include nav.html %}

<body style="overflow: scroll;">


<div class="container">
<!-- Page Features -->
  <div class="row text-center">

      <div class="col-md-6 col-sm-12 hero-feature">
          <div class="thumbnail">
              <img src="../assets/css/images/beta_02.png" alt="">
              <div class="caption">
                  <h2 class="shop-title">Hyperspectral Sensor T1</h2>
                  <p></p>
                  <ul>
                    <li>400nm - 850nm</li>
                    <li>5nm Spectral Resolution</li>
                    <li>140m Spatial Resolution at 400km</li>
                    <li>10W Power Draw</li>
                    <li>5V and 12V Connections</li>
                    <li>SPI, I2C, RS422, RS432 Connections</li>
                    <li>PC/104+ CubeSat bus standard</li>
                    <li>1.1kg mass</li>
                  </ul>
                  <br>
                  <p>
                      <a href="/contact" class="btn btn-primary">Request More Information</a>
                  </p>
              </div>
          </div>
      </div>

      <div class="col-md-6 col-sm-12 hero-feature">
          <div class="thumbnail">
              <img src="../assets/css/images/beta_02.png" alt="">
              <div class="caption">
                  <h2 class="shop-title">Hyperspectral Sensor T2</h2>
                  <p></p>
                  <ul>
                    <li>400nm - 2500nm</li>
                    <li>2nm Spectral Resolution</li>
                    <li>120m Spatial Resolution at 600km</li>
                    <li>16W Power Draw</li>
                    <li>5V and 12V Connections</li>
                    <li>SPI, I2C, RS422, RS432 Connections</li>
                    <li>PC/104+ CubeSat bus standard</li>
                    <li>1.3kg mass</li>
                  </ul>
                  <br>
                  <p>
                      <a href="/contact" class="btn btn-primary">Request More Information</a>
                  </p>
              </div>
          </div>
      </div>

  </div>
  <!-- /.row -->
</div>

{% include footer_dark.html %}

</body>

</html>
