<html>

  {% include base.html %}
  {% include header.html %}
  {% include nav.html %}

  <body>
    <div class="container main-container">
      <br><br>
        <div class="row">
            <div class="col-lg-12">
              <h1>Alpha Telescope</h1>
              <br>
            </div>
            <div class="col-lg-6">
                <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/mvp1.png"></img><br>
                <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/mvp2.png"></img><br>
                <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/mvp3.png"></img><br>
                <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/Promo1.png"></img><br>
                <div class="row">
                  <div class="col-lg-6">
                    <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/app1.png"></img><br>
                    <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/app2.png"></img><br>
                  </div>
                  <div class="col-lg-6">
                    <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/app3.png"></img><br>
                    <img class="img-rounded" style="display: block; margin: 0 auto; width: 100%;" src="{{base}}/assets/css/images/app4.png"></img><br>
                  </div>
                </div>
            </div>
            <div class="col-lg-6">
              <center>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="FZ66KWFGX56P2">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
              </center>
              <hr>
              <p>The first three renderings represent our current alpha product. You can learn a little more about it on our <a href="/alpha">alpha page</a>.</p>
              <p>
                With our Alpha Telescope, you'll get a revolutionary product with constant service. We garuntee the following:
                <hr>
                <ul>
                  <li>A remote controlled, easy to use, high tech telescope! (duh)</li>
                  <li>Customized work to your wants / requirements</li>
                  <li>Personal Contact with our eningeering team</li>
                  <li>Access to the final product without markup. You'll get it for however much it costs us to manufacture.</li>
                  <li>In App Automation
                    <ul>
                      <li>Schedule targets you want to image</li>
                      <li>Set a queue of targets</li>
                    </ul>
                  </li>
                  <li>Instant Setup
                    <ul>
                      <li>Automatic Calibration in less than a minute</li>
                    </ul>
                  </li>
                  <li>In App Target Selection
                    <ul>
                      <li>In App Star Map. Select a target to move the telescope to it!</li>
                      <li>Star map automatically adjusts to light pollution levels</li>
                      <li>The App can guide you to where the object is as well, no telescope required.</li>
                    </ul>
                  </li>
                  <li>Observation History
                    <ul>
                      <li>The App will keep a history of your observations, so you can go back and revisit what you've seen!</li>
                      <li>The App will store images for you and let you share / edit them!</li>
                    </ul>
                  </li>
                  <li>Star Tracking
                    <ul>
                      <li>Capible while Streaming</li>
                      <li>Capible During Long Exposures</li>
                    </ul>
                  <li>Standard Visible Spectrum Observation
                    <ul>
                      <li>You will be able to image and stream everything in the visible spectrum</li>
                    </ul>
                  </li>
                  <li>IR (up to at least 900nm) observation</li>
                  <li>In App Photoediting
                    <ul>
                      <li>Optimized for Astrophotography</li>
                      <li>Edit by wavelegth. You can edit out wavelengths don't want.</li>
                      <li>Basic spectral analysis. You can check out at least 4 spectral bands, potentially more in the future.</li>
                    </ul>
                  </li>
                  <li>Object Discovery and Classification
                    <ul>
                      <li>Found something? Submit it to us and we'll see if we can identify it. Will you discover something new?</li>
                      <li>The App will tell you what an object is if you move your phone to that point in the sky, just like you would use any other star map App.</li>
                    </ul>
                  </li>
                  <li>Want a feature? Let us know by <a href="/contact">contacting us</a>!</li>
                </ul>
                <hr>
                <p>Want to buy an alpha? We already have a small group of users who have. We want to keep this alpha tests as a limited run, we're only taking around 12 more alpha testers. It's going to run you $350, but we know you'll love what we give you. Click below to purchase the Alpha Telescope!</p>

                <center>
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="FZ66KWFGX56P2">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                  </form>
                </center>

              </p>
              <hr>
            </div>
        </div>

    </div>
  </body>

  {% include footer.html %}

</html>
